@import "../../global.scss";

.topbar {
  width: 100%;
  height: 10vh;
  background-color: white;
  color: $mainColor;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;

  .wrapper {
    padding: 1vh 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      .logo {
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        background-color: $mainColor;
        .MuiAvatar-colorDefault {
          color: $mainColor;
          background-color: white;
        }
      }
      .itemContainer {
        display: flex;
        align-items: center;
        margin-left: 30px;
        @include mobile {
          display: none;
        }
        .myicon {
          cursor: pointer;
          img {
            width: 1.5vw;
          }
        }
        .icon {
          // font-size: 18px;
          margin-right: 5px;
        }
        a {
          text-decoration: none;
          span {
            font-size: 15px;
            font-weight: 400;
            margin-left: 0.5rem;
            color: var(--color-additional);
          }
        }
      }
    }

    .right {
      .hamburger {
        width: 2rem;
        height: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        overflow: hidden;

        span {
          width: 100%;
          height: 0.2rem;
          background-color: $mainColor;
          transform-origin: left;
          transition: all 1s ease;
        }
      }
    }
  }
  &.active {
    background-color: $mainColor;
    color: white;

    .hamburger {
      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }

    a {
      span {
        color: var(--color-secondary) !important;
      }
    }
  }
}
