$mainColor: #15023a;

:root {
  --color-primary: #15023a;
  --color-secondary: white;
  --color-additional: black;
  --color-extra: crimson;
}

$width: 768px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}
